[Unit]
Description=Timer for process monitoring
Requires=monitoring.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=1s

[Install]
WantedBy=timers.target